<div class="container">
	<div class="post-articles">
		<div class="article-info">
			<h1 class="article-title"><%- page.title%></h1>
			<% if(page.tags){ %>
				<%- partial('_partial/article-tags',{article:page}) %>
			<% } %>
			<span class="article-time"><%- page.date.format(config.date_format) %></span>
		</div>		
		<article class="markdown-body">
		<%- page.content %>
		</article>
	</div>	
	<div class="toc"></div>
	<%- partial('_partial/comments',{post: page})%>
</div>